appdirs==1.4.3
beautifulsoup4==4.5.3
click==6.7
Flask==0.12
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
langdetect==1.0.7
lorem-ipsum-generator==0.3
MarkupSafe==1.0
packaging==16.8
psycopg2==2.7.1
pymemcache==1.4.3
pymongo==3.4.0
PyMySQL==0.7.11
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
transliterate==1.9
Werkzeug==0.12.1
SpeechRecognition==3.6.5
pocketsphinx==0.1.3
